<app-landing-page
    title="Welcome back!"
    subtitle="Enter your credentials"
    illustration="assets/svg/main-illustration-login.svg"
>
    <form>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">

        <div class="forgot-password-container">
            <a href="/forgot-password" class="forgot-password-label">Forgot Password?</a>
        </div>

        <button class="form-button" (click)="login($event)">Log In</button>

        <button class="form-google-button">
            <img width="16" height="16" src="/assets/svg/google-icon.svg"/>
            Log In with Google
        </button>
    </form>

    <div class="register-section">
        <h5>Don't have an account?</h5>
        <a href="/signup" class="register-label">Register</a>
    </div>
</app-landing-page>
