<header class="header">
  <div class="header__user">
    <div class="header__user-img">
      <img src="student.png" alt="User avatar" class="header__user-img-avatar" />
    </div>

    <div class="header__user-info">
      <span class="header__user-info-greetings">Hello,</span>
      <span class="header__user-info-name">Student</span>
    </div>
  </div>

  <div class="header__actions">
    <div class="header__actions-card">
      <mat-icon class="header__actions-card-icon" fontIcon="search"></mat-icon>
    </div>

    <div class="header__actions-card">
      <mat-icon class="header__actions-card-icon" fontIcon="notifications"></mat-icon>
    </div>

    <div class="header__actions-card">
      <mat-icon class="header__actions-card-icon" fontIcon="settings"></mat-icon>
    </div>
  </div>
</header>