<app-landing-page
    title="Sign up"
    subtitle="Create your account and start organizing your studies"
    illustration="assets/svg/main-illustration-signup.svg"
>
    <form>
        <select class="course-select">
            <option value="">Course</option>
        </select>

        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm password">

        <div class="has-account-container">
            <a href="/login" class="has-account-label">Already have an account?</a>
        </div>

        <button class="form-button">Register</button>
    </form>
</app-landing-page>
